<div class="p-10  ml-5">
  <h2 class="font-medium leading-tight text-3xl mt-0 mb-2 text-blue-600">My Group <%= link_to '<i class="fa fa-cog" aria-hidden="true"></i>'.html_safe, edit_group_path(@group.id) %></h2>
  
</div>